In [7]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-1.1.1-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: numpy>=1.24 in c:\users\kavya babunath\anaconda3\lib\site-packages (from geopandas) (2.1.3)
Collecting pyogrio>=0.7.2 (from geopandas)
  Downloading pyogrio-0.11.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Requirement already satisfied: packaging in c:\users\kavya babunath\anaconda3\lib\site-packages (from geopandas) (24.2)
Requirement already satisfied: pandas>=2.0.0 in c:\users\kavya babunath\anaconda3\lib\site-packages (from geopandas) (2.2.3)
Collecting pyproj>=3.5.0 (from geopandas)
  Downloading pyproj-3.7.1-cp313-cp313-win_amd64.whl.metadata (31 kB)
Collecting shapely>=2.0.0 (from geopandas)
  Downloading shapely-2.1.1-cp313-cp313-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kavya babunath\anaconda3\lib\site-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kavya babunath\anaconda3\lib\site-packages (from pandas>=2.0.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kavya babunath\anaconda3\lib\site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: certifi in c:\users\kavya babunath\anaconda3\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2025.7.14)
Requirement already satisfied: six>=1.5 in c:\users\kavya babunath\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.17.0)
Downloading geopandas-1.1.1-py3-none-any.whl (338 kB)
Downloading pyogrio-0.11.1-cp313-cp313-win_amd64.whl (19.2 MB)
   ---------------------------------------- 0.0/19.2 MB ? eta -:--:--
   ---- ----------------------------------- 2.4/19.2 MB 14.2 MB/s eta 0:00:02
   -------------------------- ------------- 12.6/19.2 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------- 19.2/19.2 MB 33.1 MB/s eta 0:00:00
Downloading pyproj-3.7.1-cp313-cp313-win_amd64.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   -------------------------------------- - 6.0/6.3 MB 31.8 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 26.7 MB/s eta 0:00:00
Downloading shapely-2.1.1-cp313-cp313-win_amd64.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ---------------------------------------- 1.7/1.7 MB 32.3 MB/s eta 0:00:00
Installing collected packages: shapely, pyproj, pyogrio, geopandas

   ---------------------------------------- 0/4 [shapely]
   ---------------------------------------- 0/4 [shapely]
   ---------------------------------------- 0/4 [shapely]
   ---------------------------------------- 0/4 [shapely]
   ---------- ----------------------------- 1/4 [pyproj]
   ---------- ----------------------------- 1/4 [pyproj]
   -------------------- ------------------- 2/4 [pyogrio]
   -------------------- ------------------- 2/4 [pyogrio]
   -------------------- ------------------- 2/4 [pyogrio]
   -------------------- ------------------- 2/4 [pyogrio]
   ------------------------------ --------- 3/4 [geopandas]
   ------------------------------ --------- 3/4 [geopandas]
   ------------------------------ --------- 3/4 [geopandas]
   ---------------------------------------- 4/4 [geopandas]

Successfully installed geopandas-1.1.1 pyogrio-0.11.1 pyproj-3.7.1 shapely-2.1.1

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000026C7B673A10>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/geopandas/

In [9]:
!pip install folium

Collecting folium
  Downloading folium-0.20.0-py2.py3-none-any.whl.metadata (4.2 kB)
Collecting branca>=0.6.0 (from folium)
  Downloading branca-0.8.1-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\kavya babunath\anaconda3\lib\site-packages (from folium) (3.1.6)
Requirement already satisfied: numpy in c:\users\kavya babunath\anaconda3\lib\site-packages (from folium) (2.1.3)
Requirement already satisfied: requests in c:\users\kavya babunath\anaconda3\lib\site-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in c:\users\kavya babunath\anaconda3\lib\site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kavya babunath\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (3.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kavya babunath\anaconda3\lib\site-packages (from requests->folium) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kavya babunath\anaconda3\lib\site-packages (from requests->folium) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kavya babunath\anaconda3\lib\site-packages (from requests->folium) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kavya babunath\anaconda3\lib\site-packages (from requests->folium) (2025.7.14)
Downloading folium-0.20.0-py2.py3-none-any.whl (113 kB)
Downloading branca-0.8.1-py3-none-any.whl (26 kB)
Installing collected packages: branca, folium

   -------------------- ------------------- 1/2 [folium]
   ---------------------------------------- 2/2 [folium]

Successfully installed branca-0.8.1 folium-0.20.0

In [10]:
import plotly
import plotly.express as px
import pandas as pd
import geopandas as gpd
import shapely as shp
from shapely.geometry import Polygon, LineString
import folium
from folium.plugins import MarkerCluster
from datetime import datetime

In [11]:
country_data= px.data.gapminder()
country_data.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [13]:
covid_data=pd.read_csv('covid.csv')
covid_data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0
1,1/4/2020,AF,Afghanistan,EMRO,0,0,0,0
2,1/5/2020,AF,Afghanistan,EMRO,0,0,0,0
3,1/6/2020,AF,Afghanistan,EMRO,0,0,0,0
4,1/7/2020,AF,Afghanistan,EMRO,0,0,0,0

In [14]:
country_data.rename(columns={'country':'Country'}, inplace=True)
country_data.head()

,Country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [15]:
data =covid_data.merge(country_data[['Country']], on=['Country'], how='left')
data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0
1,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0
2,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0
3,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0
4,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0

In [17]:
latlong_data=pd.read_csv('latitude_longtitude.csv')
latlong_data.head()

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California

In [18]:
all_data =data.merge(latlong_data[['country','latitude', 'longitude']], left_on=['Country'], right_on=['country'], how='left')
all_data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,country,latitude,longitude
0,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0,Afghanistan,33.93911,67.709953
1,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0,Afghanistan,33.93911,67.709953
2,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0,Afghanistan,33.93911,67.709953
3,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0,Afghanistan,33.93911,67.709953
4,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0,Afghanistan,33.93911,67.709953

In [19]:
all_data.describe()

,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,latitude,longitude
count,1.202656e+06,1.202656e+06,1.202656e+06,1.202656e+06,1.155869e+06,1.155869e+06
mean,2.667411e+03,5.940905e+05,4.000597e+01,1.328813e+04,1.729593e+01,1.219974e+01
std,1.407419e+04,2.468180e+06,1.734525e+02,4.933097e+04,2.449681e+01,5.805786e+01
min,-3.295200e+04,0.000000e+00,-9.200000e+01,0.000000e+00,-4.090056e+01,-1.771561e+02
25%,1.000000e+00,2.285000e+03,0.000000e+00,3.400000e+01,4.210484e+00,-9.696645e+00
50%,1.040000e+02,3.267100e+04,1.000000e+00,6.080000e+02,1.578347e+01,1.787389e+01
75%,1.001000e+03,2.857400e+05,1.500000e+01,5.818000e+03,3.620482e+01,3.790619e+01
max,1.327469e+06,7.572524e+07,8.786000e+03,8.938700e+05,7.170694e+01,1.794144e+02

In [21]:
df = all_data.groupby(['Country_code','Country','WHO_region', 'latitude', 'longitude']).sum().reset_index()
df.head()

,Country_code,Country,WHO_region,latitude,longitude,Date_reported,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,country
0,AD,Andorra,EURO,42.546245,1.601554,1/3/20201/4/20201/5/20201/6/20201/7/20201/8/20...,36599,6925222,147,65462,AndorraAndorraAndorraAndorraAndorraAndorraAndo...
1,AE,United Arab Emirates,EMRO,23.424076,53.847818,1/3/20201/4/20201/5/20201/6/20201/7/20201/8/20...,857657,265342619,2264,804788,United Arab EmiratesUnited Arab EmiratesUnited...
2,AF,Afghanistan,EMRO,33.939110,67.709953,1/3/20201/3/20201/3/20201/3/20201/3/20201/3/20...,1994292,649183020,89184,28272600,AfghanistanAfghanistanAfghanistanAfghanistanAf...
3,AG,Antigua and Barbuda,AMRO,17.060816,-61.796428,1/3/20201/4/20201/5/20201/6/20201/7/20201/8/20...,6732,919508,127,24022,Antigua and BarbudaAntigua and BarbudaAntigua ...
4,AI,Anguilla,AMRO,18.220554,-63.068615,1/3/20201/4/20201/5/20201/6/20201/7/20201/8/20...,2384,209106,8,492,AnguillaAnguillaAnguillaAnguillaAnguillaAnguil...

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error

columns_to_analyze = [
    'Country_code', 'Country', 'WHO_region', 'New_cases', 'Cumulative_cases',
    'New_deaths', 'Cumulative_deaths', 'latitude', 'longitude'
]

df_selected = df[columns_to_analyze]

numeric_cols = df_selected.select_dtypes(include=['number']).columns
categorical_cols = df_selected.select_dtypes(include=['object']).columns

results_dict = {}
target_variables = ['New_cases', 'Cumulative_cases', 'New_deaths', 'Cumulative_deaths']

for target in target_variables:
    y_target = df_selected[target]
    encoder = OneHotEncoder(drop='first', sparse_output=False)
    X_encoded = encoder.fit_transform(df_selected[categorical_cols])
    X_encoded = pd.DataFrame(X_encoded, columns=encoder.get_feature_names_out(categorical_cols))
    X = pd.concat([df_selected[numeric_cols], X_encoded], axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X, y_target, test_size=0.2, random_state=42)
    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    predictions_df = pd.DataFrame({'Country': df_selected.loc[X_test.index, 'Country'], f'{target}_pred': y_pred})
    results_dict[target] = {'predictions': predictions_df.groupby('Country')[f'{target}_pred'].mean(), 'mse': mse}

for target, results in results_dict.items():
    print(f"MSE for {target}: {results['mse']:.2f}\n")

MSE for New_cases: 0.00

MSE for Cumulative_cases: 0.00

MSE for New_deaths: 0.00

MSE for Cumulative_deaths: 0.00

In [25]:
map_fig = px.scatter_geo(
    df,
    locations='Country_code',  # Changed from iso_alpha
    projection='orthographic',
    color='WHO_region',
    opacity=0.8,
    hover_name='Country',
    hover_data=[
        'New_cases',
        'Cumulative_cases',
        'New_deaths',
        'Cumulative_deaths'
    ],
    title="Visualization of the WHO regions around the world"
)

map_fig.show()

ValueError: Value of 'locations' is not the name of a column in 'data_frame'. Expected one of ['Country_code', 'Country', 'WHO_region', 'latitude', 'longitude', 'Date_reported', 'New_cases', 'Cumulative_cases', 'New_deaths', 'Cumulative_deaths', 'country'] but received: iso_alpha

In [ ]:
fig = px.choropleth(
    df,
    locations='iso_alpha',
    locationmode='ISO-3',
    scope='world',
    color='Cumulative_cases',
    hover_name='Country',
    hover_data=[
        'Country',
        'WHO_region',
        'New_cases',
        'Cumulative_cases',
        'New_deaths',
        'Cumulative_deaths'
    ],
    range_color=[20000000, 141000000000],
    color_continuous_scale='armyrose',
    title='World Covid19 Cumulative Cases'
)

fig.show()

In [ ]:
fig = px.choropleth(
    df,
    locations='iso_alpha',
    locationmode='ISO-3',
    scope='world',
    color='Cumulative_deaths',
    hover_name='Country',
    hover_data=[
        'Country',
        'WHO_region',
        'New_cases',
        'Cumulative_cases',
        'New_deaths',
        'Cumulative_deaths'
    ],
    range_color=[20000000, 141000000000],
    color_continuous_scale='rainbow',
    title='World Covid19 Cumulative deaths'
)

fig.show()

In [ ]:
import plotly.express as px

print("Country Names:")
for i in range(0, len(df['Country']), 5):
    for j in range(5):
        if i + j < len(df['Country']):
            print(df['Country'][i + j], end="\t")
    print("\n")

print("Column Names")
print("New_cases\nNew_deaths\nCumulative_cases\nCumulative_deaths")

user_input_country = input("Enter the country (e.g., India): ")
user_input_column = input("Enter the column (e.g., New_cases): ")

# Filter DataFrame based on user input country
filtered_df = df[df['Country'].str.lower() == user_input_country.lower()]

fig = px.choropleth(
    filtered_df,
    locations='iso_alpha',
    locationmode='ISO-3',
    scope='world',
    color='WHO_region',
    hover_name=user_input_column,
    hover_data=['Country', user_input_column],
    title=f'Covid19 {user_input_column} for {user_input_country}'
)

fig.show()